* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}

h1 {
    background-color: tomato;
    color: white;
    text-align:center

}

.imag-paragraph-container {
    width: 25%;
    background-color: skyblue;
    padding: 15px;
    font-size: 18px; 
    text-align: justify;
    overflow: hidden;
}
.image-fixing {
    width: 150px;
    float: right;
    padding: 10px;
    margin-top: 41px;
}
.paragraph-container {
    padding: 10px;
}
 
p {
    padding-top: 40px;
}