
p:empty, div:empty {
    height: 40px;
    width: 100px;
    border: 1px solid red;
    border-radius: 50%;
    background: blueviolet;
    
}

a:link {
    color: blueviolet;
}

a:visited {
    color: brown;
    outline: 0;
}

a:hover {
    color: greenyellow;

}
a:active {
    color: red;
}

input[type='radio']:checked {
    width: 25px;
    height: 25px;
}