
/* ^= helps to search a first part of a value of an attribute */
[class^='test'] {
    background: yellow;
}

[data-move^='owl'] {
    background: tomato;
}

/* $= helps to search a last part of an attribute */

[class$='test'] {
    background: greenyellow;
}